.EntitySelector {
    $light-stroke: #f2f2f2;
    $mid-stroke: #e7e7e7;
    $active-fill: #dbe5f0;

    $light-text: #858585;
    $dark-text: #585858;

    text-align: left;
    margin-bottom: $modal-padding;

    ul {
        margin: 0;
        padding: 0;
        font-size: 0.8125em;
    }

    li {
        list-style-type: none;
    }

    .searchBar {
        display: flex;
        position: sticky;
        top: 0;
        left: 0;
        background-color: #fff;
        z-index: 1;
    }

    .searchInput {
        flex-grow: 1;

        // search icon
        $svg-margin-left: 8px;
        $svg-size: 12px;

        $placeholder: #a1a1a1;
        $focus-outline: 2px solid $controls-color;

        svg {
            position: absolute;
            top: 50%;
            left: $svg-margin-left;
            color: $light-text;
            transform: translateY(-50%);
            font-size: $svg-size;
            font-weight: 900;
        }

        input[type="search"] {
            width: 100%;
            height: 32px;
            font-size: 0.8125em;
            border: 1px solid $mid-stroke;
            padding-left: $svg-margin-left + $svg-size + 4px;
            padding-right: 1em;
            border-radius: 4px;

            // style placeholder text in search input
            &::placeholder {
                color: $placeholder;
                opacity: 1; /* Firefox */
            }
            &:-ms-input-placeholder {
                color: $placeholder;
            }
            &::-ms-input-placeholder {
                color: $placeholder;
            }

            // style focus state
            &:focus {
                outline: $focus-outline;
            }
            &:focus:not(:focus-visible) {
                outline: none;
            }
            &:focus-visible {
                outline: $focus-outline;
            }
        }
    }

    .searchResults .empty {
        font-size: 0.8125em;
    }

    &.EntitySelectorSingle {
        ul {
            margin-top: 8px;
        }

        li {
            color: $dark-text;
            cursor: pointer;
            padding: 12px 16px;
            border-bottom: 1px solid $mid-stroke;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &:last-child {
                border-bottom: none;
            }

            &.selected,
            &:hover {
                background-color: $active-fill;
                color: $active-text;
            }

            svg {
                color: $active-text;
                font-size: 12px;
                font-weight: 900;
            }
        }

        .searchResults .empty {
            margin-top: 1.5em;
        }
    }

    &.EntitySelectorMulti {
        .searchInput {
            max-width: 75%;
        }

        .entities {
            margin-top: 1.5em;
        }

        .searchResultsLabel,
        .selectedLabel {
            color: $light-text;
            font-size: 14px;
            line-height: 21px;
            font-weight: 400;
            font-style: italic;
            margin: 10px 0;
        }

        li {
            padding: 12px 8px 12px 16px;
            border-bottom: 1px solid $light-stroke;
        }

        li:first-child {
            border-top: 1px solid $light-stroke;
        }
    }
}

.modalOverlay .searchFooter {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 16px;
    width: 100%;
    height: 48px;

    background: white;
    border-radius: 0 0 4px 4px;
    box-shadow: rgba(0, 0, 0, 4%) 0 -4px 8px;

    .clearSelection {
        font-size: 13px;
        letter-spacing: 0.01em;
        padding: 0;

        color: $dark-text;
        font-weight: 500;
        text-decoration: underline;
        cursor: pointer;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

&.GrapherPortraitClass .EntitySelectorMulti {
    .selectedData {
        min-width: 50%;
    }
}
